<a href="https://colab.research.google.com/github/timeboox/21-2pythona/blob/main/ch2_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**학습목표**

문자열(str)타입을 이해하기

##**문자열(String)**
- 여러 개의 문자를 순서대로 나열한 것
- 문자열은 '(작은 따옴표)' 혹은 "(큰 따옴표)" 사이에 문자를 넣어서 생성
- 문자열 자체에 ",'가 있는 경우,

In [2]:
a = "Hello world"
b = ' "Hello" world! '

print(a)
print(b)

Hello world
 "Hello" world!

###**이스케이프(escape) 문자**

- 문자열 내의 문자의 의미를 달리하여 특정한 효과를 준 것
- Enter, tab

- (\n): Enter, 새로운 줄(다음줄)
- (\t): tap

In [6]:
print("안녕하세요. \n 제 이름은 \t 추승호 입니다. \n직업은 \t학생 입니다.")

안녕하세요.
 제 이름은 	 추승호 입니다.
직업은 	학생 입니다.

## **문자열의 인덱스(index) 및 추출**

- 문자열의 각 문자는 순서가 있음 : `인덱스`
- 인덱스 표현은? [ ]
- 첫번째 문자부터 마지막까지 차례대로 순서를 가짐
- 시작은 O! (1 X)

In [8]:
#a = "Hello World!" # 번호는 11번까지, 길이는 12

print(a[-1], a[-3], a[-12])

! l H

## **문자열 내장 함수**

In [16]:
#a = "Hello World!"\
print(a.upper())
print(a.lower)
print(a.replace('H', 'J'))
print(a.replace('ello', 'i'))
print(len(a))
print(a.count('l'))

print(a.find('w'))
print(a.index('W'))

b= "!".join(a)
print(b)

HELLO WORLD!
<built-in method lower of str object at 0x7fbf69fb8eb0>
Jello World!
Hi World!
12
3
-1
6
H!e!l!l!o! !W!o!r!l!d!!

##**format**
- 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [21]:
temp = 23
per = 70

a='현재 기온은 {}도 이고, 비올 확률은 {}%입니다.'.format(temp,per)
print(a)

cla = 3

#b= 
f'현재 프로그래밍 시간은 {cla}교시다.'

현재 기온은 23도 이고, 비올 확률은 70%입니다.

'현재 프로그래밍 시간은 3교시다.'

##**split**
- 문자열을 특정한 문자로 구분하여 치환

In [22]:
a = 'what a wonderful day. nice weather!'
a.split('w')

['', 'hat a ', 'onderful day. nice ', 'eather!']